{% extends 'base.html.twig' %}

{% block body %}
<div id="oneproduct">
    <div>
        {% include 'common/nav1.html.twig' %}
    </div>

    <div class="undernav pb-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 d-none d-md-block">
                    <div>
                        {% include 'common/detail.html.twig' %}
                    </div>
                </div>
                <div class="col-md-9">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="mr-5 h4">
                                {{ product.name|capitalize }} - {{ product.origin |capitalize}}
                                </span>
                            </div>
                            <div class="col-md-6 text-right">
                                <span class="h2 text-danger mr-5"> {{ product.price }} €</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <a>{{ product.category.name|capitalize }}</a>
                    </div>
                    <div>
                            <button type="button" class="btn btn-success btn-sm addproductincarte" data-id="{{ product.id }}">Ajouter</button>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-3 mb-1">
                                <img src="{{ asset('photo/product/' ~ product.photos[0].name) }}"  alt="..." class="loupe">
                            </div>
                            <div class="col-md-9">
                                {{ product.description }}
                            </div>
                        </div>
                    </div>
                    <div class="zcarousel">
                        {% for one in product.photos %}
                            <div>
                                <img src="{{ asset('photo/product/' ~ one.name) }}"  alt="..." class="showbigimg pointer">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        {% include 'common/footer.html.twig' %}
    </div>
</div>
{% endblock %}
