<div id="nav1" class="fixed-top">
    <div class="container-fluid mb-1">
        <div class="row">
            <div class="col-md-2 h4 text-center text-white">
                zhen-ecommerce
            </div>
            <div class="col-md-6">
                <form method="post" action="{{ path('searproductspage') }}">
                    <div>
                        <input type="text" class="form-control" id="search" name="search" placeholder="Qu'est qui vous ferait plaisir ?">
                    </div>
                    <div>
                        <button type="submit" class="text-white bg-dark"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-6 col-md-2">
                <li class="nav-item dropdown {% if app.session.get("nav")=='register' %}active{% endif %}" style="position:relative;top:-5px;list-style-type: none;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon compte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if app.user is null %}
                        <a class="dropdown-item" href="{{ path('connexionpage') }}">Connexion</a>
                        <a class="dropdown-item" href="{{ path('registerpage') }}">Inscription</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('profilepage',{'id':app.user.id}) }}">Espace Personnel</a>
                            <a class="dropdown-item" href="/logout">Déconnexion</a>
                        {% endif %}
                    </div>
                </li>
            </div>
            <div class="col-6 col-md-2">
                <div class="display:flex;align-items:center">
                    <a href="{{ path('cartepage') }}" id="carte" style="position:relative;font-size:18px;font-size:25px;">
                        {% set n = 0 %}
                        {% for one in app.session.get('carte') %}
                            {% set n = n + 1 %}
                        {% endfor %}
                        <span id="total" class="text-danger font-weight-bold" style="position:absolute;z-index:10;position:relative;left:25px;top:-7px;">
                            {% if n != 0 %}{{ n }}{% endif %}
                        </span>
                        <i class="fas fa-cart-plus"></i> Panier
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if app.session.get("nav")=='home' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('homepage') }}">Mes Course</a>
                </li>
                <li class="nav-item dropdown  {% if app.session.get("nav")=='category' %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for one in allcategories.getAll %}
                            <a class="dropdown-item" href="{{ path('searproductspage2',{'id':one.id}) }}" style="color:black !important">{{ one.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Electricité</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Forfait Mobile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Loisirs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Santé</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>

</div>